/* Réinitialisation des styles par défaut */
body, h1, h2, ul, li, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e0e0e0;
}

header a {
    text-decoration: none;
}

header img {
    height: 90px;
}

header h1 {
    margin-left: 10px;
    font-size: 36px;
    color: #007BFF;
}

header .logout-button {
    background-color: #e0e0e0;
    color: #686868;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.user-options {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.user-options img {
    border-radius: 50%;
    height: 75px;
}

main {
    display: flex;
    margin: 20px;
}

.sidebar {
    background-color: white;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-right: 20px;
    overflow: auto;
    height: 78vh;
}

.sidebar h2 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #007BFF;
}

.contact-list {
    list-style: none;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.contact-avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.contact-info {
    display: flex;
    flex-direction: column;
}

.contact-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.status {
    color: red;
    font-size: 12px;
    margin-left: 5px;
}

.contact-status {
    font-size: 14px;
    color: gray;
}

.chat-area {
    flex: 1;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: auto;
    height: 78vh;
}
